client_id               = "your_client_id"
client_secret           = "your_client_secret"
metro_code              = "your_2_letter_Equinix_metro_Code like DA for Dallas"
metro_name              = "The name of your Billing Account in Equinix Fabric Portal"
router_count            = 3   # Number of Router in this topology
router_name_prefix      = "martin-tf-sr-Test"
ssh_username            = "your SSH Username_in Equinix Fabric Portal"
ssh_keyname             = "your SSH Key name in Equinix Fabric Portal"
notification_mail_list  = ["mail address 1", "mail address 3"]
acl_template_uuid       = "your ACLs UUID here"
